@model Application.Dtos.CategoryDto

@{
    ViewData["Title"] = "Details";
}

<h3>Details Category</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CategoryImage)
        </dt>
        <dd class="col-sm-8">
            <img src="@Url.Content(Model.CategoryImage)" width="150" />
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@Model.Id">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-info">Back</a>
</div>
