@model OrderViewModel
<style>
    div.dataTables_wrapper div.dataTables_length {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #orderTable_wrapper .dataTables_info {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #orderTable_wrapper .dataTables_paginate {
        margin-top: 2%;
        margin-bottom: 2%;
    }
</style>
@{
    ViewData["Title"] = "Orders";
}
<div class="col-md-12 col-lg-12">

    <h2>Total Orders: @Model.TotalCountOrder</h2>

    <div class="panel-body">
        <table class="table table-striped table-hover mt-4" style="line-height:30px" id="orderTable">
            <thead class="bg-dark">
                <tr class="text-white text-lg-center">
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Total Order</th>
                    <th>Total Items</th>
                    <th>Confirmed order</th>
                    <th>Dispatched order</th>
                    <th>Received</th>
                    <th>Edit</th>
                    <th>Details</th>
                    <th>Remove</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrdersDto)
                {
                    <tr class="text-lg-center">
                        <td>@Html.DisplayFor(modelItem => item.UserDelivery.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserDelivery.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserDelivery.Phone)</td>
                        <td>@(item.TotalOrder.ToString("C"))</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalItemsOrder)</td>
                        <td>@Html.DisplayFor(modelItem => item.ConfirmedOrder)</td>
                        <td>@Html.DisplayFor(modelItem => item.DispatchedOrder)</td>
                        <td>@Html.DisplayFor(modelItem => item.RequestReceived)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-info align-middle"></i></a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye text-primary align-middle"></i></a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-danger align-middle"></i></a>
                        </td>
                        <td>
                            <a asp-action="OrderProducts" asp-route-id="@item.Id">View Items</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable({
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "pageLength": 10,
                "language": {
                    "info": "Showing  _START_ to _END_ of _TOTAL_ entries"
                },
                "columnDefs": [
                    { "orderable": false, "targets": [8, 9, 10, 11] } // Desabilita a ordenação para colunas específicas
                ]
            });
        });
    </script>
}