@using System.Globalization
@model TotalSalesViewModel

<style>
    ul {
        list-style-type: none;
    }

    .css-171cbs {
        border-radius: 7px;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        transition: box-shadow 0.3s ease;
        height: 17rem;
        background-color: #fff;
    }

        .css-171cbs::before {
            content: "";
            border-radius: 10px 10px 0px 0px;
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #343a40;
        }

        .css-171cbs::after {
            content: "";
            border-radius: 0px 0px 10px 10px;
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #343a40;
        }

        .css-171cbs::before {
            top: -1px;
        }

        .css-171cbs::after {
            bottom: -1px;
        }


    .css-99txtG {
        color: #808080 !important;
    }


    .css-98cstL {
        list-style-type: none;
        padding: 0;
        display: inline-block;
        font-size: 1.1rem;
    }

    .css-98cstLI {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }



    .css-201crc {
        width: 20px;
        height: 20px;
        background-color: dodgerblue;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; /* Adicionando alinhamento vertical */
    }

    .css-202crc {
        width: 20px;
        height: 20px;
        background-color: lightseagreen;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; /* Adicionando alinhamento vertical */
    }

    .css-203crc {
        width: 20px;
        height: 20px;
        background-color: orange;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; /* Adicionando alinhamento vertical */
    }

    .css-204crc {
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; /* Adicionando alinhamento vertical */
    }

    .scrollable-table {
        max-height: 400px; /* ou outro valor adequado */
        overflow-y: auto;
    }

    div.dataTables_wrapper div.dataTables_length {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #salesTable_wrapper .dataTables_info {
        margin-top: 1%;
    }

    #salesTable_wrapper .dataTables_paginate {
        margin-top: 1%;
    }
</style>

<section class="col-md-12 col-lg-12">
    <section class="mt-3">
        <h4>Sales Summary</h4>
    </section>

    <section class="mt-4">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card css-171cbs">
                    <div class="card-body">
                        <h3 class="card-title mt-2 css-99txtG">Total sales</h3>
                        <h2 class="card-text mt-4" style="font-weight:600;font-size:2rem;color:dodgerblue">@Model.TotalOrderValue.ToString("C")</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h5 class="css-99txtG">Quantity of sales: <span style="color:dodgerblue">@Model.TotalOrder</span></h5>
                            </div>
                            <div class="col-md-6 mt-4">
                                <h5 class="css-99txtG">Total average: <span style="color:orange">@Model.Average.ToString("C")</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card css-171cbs">
                    <div class="card-body">
                        <canvas id="myChart" width="100" height="50"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4">
        <div class="card">
            <div class="card-header">
                <h4 class="css-99txtG"><i class="bi bi-bar-chart-line"></i> Sales</h4>
            </div>
            <div class="card-body">
                <ul class="css-98cstL css-99txtG my-2">
                    <li class="css-98cstLI mx-4"></li>
                    <li class="css-201crc"></li>
                    <li class="css-98cstLI">In processing</li>
                    <li class="css-202crc"></li>
                    <li class="css-98cstLI">Approved payment</li>
                    <li class="css-203crc"></li>
                    <li class="css-98cstLI mx-0">Awaiting payment</li>
                    <li class="css-98cstLI mx-0"> | In analysis | </li>
                    <li class="css-98cstLI">Chargeback Pending</li>
                    <li class="css-204crc"></li>
                    <li class="css-98cstLI mx-0">Cancelled</li>
                    <li class="css-98cstLI mx-0"> | Chargeback | </li>
                    <li class="css-98cstLI">Returned</li>
                </ul>
                <div class="my-3">
                    <div class="">
                        <table class="table table-striped mt-4" id="salesTable">
                            <thead class="bg-dark">
                                <tr class="text-white">
                                    <th>Sale</th>
                                    <th>Purchaser</th>
                                    <th>Method</th>
                                    <th>Order date</th>
                                    <th>Payment date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderDtos != null && Model.OrderDtos.Any())
                                {
                                    @foreach (var item in Model.OrderDtos)
                                    {
                                        <tr>
                                            @if (
                                           item
                                           .PaymentMethod
                                           .PaymentMethodObjectValue.PaymentStatusObjectValue.PaymentStatus == "Processing")
                                            {
                                                <td><span class="css-201crc"></span></td>
                                            }
                                            else if (
                                            item
                                            .PaymentMethod
                                            .PaymentMethodObjectValue.PaymentStatusObjectValue.PaymentStatus == "Approved")
                                            {
                                                <td><span class="css-202crc"></span></td>
                                            }
                                            else if (
                                            item
                                            .PaymentMethod
                                            .PaymentMethodObjectValue.PaymentStatusObjectValue.PaymentStatus == "Pending")
                                            {
                                                <td><span class="css-203crc"></span></td>
                                            }
                                            else if (
                                            item.PaymentMethod
                                            .PaymentMethodObjectValue.PaymentStatusObjectValue.PaymentStatus == "Canceled")
                                            {
                                                <td><span class="css-204crc"></span></td>
                                            }
                                            <td>@item.UserDelivery.FirstName</td>
                                            <td>@item.PaymentMethod.PaymentMethodObjectValue.PaymentMethod</td>
                                            <td>@item.ConfirmedOrder</td>
                                            <td>@item.PaymentMethod.PaymentMethodObjectValue.PaymentDate</td>
                                            <td>@item.PaymentMethod.PaymentMethodObjectValue.PaymentStatusObjectValue.PaymentStatus</td>
                                            <td>@item.TotalOrder.ToString("C")</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7"><h5 class="text-center css-99txtG">No sales found.</h5></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#salesTable').DataTable({
                "searching": false,
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "pageLength": 5,
                "language": {
                    "info": "Showing  _START_ a _END_ de _TOTAL_ entries"
                }
            });
        });
    </script>
    <script>
        var salesData = {
            labels: @Html.Raw(Json.Serialize(Model.SalesByMonthDtos.Select(group =>
             $"{CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(group.Month)} {group.Year}"))),
            datasets: [{
                label: 'Monthly Sales',
                backgroundColor: 'dodgerblue',
                data: @Html.Raw(Json.Serialize(Model.SalesByMonthDtos.Select(group => group.TotalSales)))
                                                                                                                                                                                                                                                                                                                                                                                                }]
        };

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: salesData,
            options: {
                responsive: true,
                maintainAspectRatio: true,
                aspectRatio: 3,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}

