@model Application.Dtos.ProductDto

<link rel="stylesheet" href="~/css/GetProductsListPartial.css" asp-append-version="true" />

<br />
<div class="container" style="line-height:20px">
    <div class="row">
        <div class="position-relative" style="margin-left:-10%">
            <div class="mt-3">
                @if (Model.ProductFlagsObjectValue.IsDailyOffer == true)
                {
                    <div class="position-absolute top-1">
                        <span class="badge" style="background-color:black">@Model.CalculateDiscountService().DiscountPercentage(Model.ProductPriceObjectValue).ToString("F0")%</span>
                    </div>
                }
            </div>
            <a asp-controller="Products" asp-action="Details" asp-route-Id="@Model.Id">
                <img class="img-fluid" style="object-fit:contain; max-width:400px; height:300px" src="@Model.ProductImageObjectValue.MainImage" />
            </a>
            <small class="style_categoryName">
                @Model.Category.CategoryName
            </small>
            <h6 class="text-body">@Model.Name</h6>
            <div>
                <span style="color:gray;font-weight:bold;font-size:14px">Now @Model.ProductPriceObjectValue.Price.ToString("C")</span>
                @if (Model.ProductFlagsObjectValue.IsDailyOffer == true)
                {
                    <small>
                        <span class="text-decoration-line-through text-muted"
                              style="margin-right:0.5rem;">
                            @Model.ProductPriceObjectValue.HistoryPrice.ToString("C")
                        </span>
                    </small>
                }
            </div>
            <div class="mt-1 mb-1">
                <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListReviewsAveragePartial.cshtml" for="@Model" />
            </div>
        </div>
    </div>
</div>
