@model IEnumerable<Application.Dtos.OrderDtos.OrderDto>


@{
    ViewData["Title"] = "Index";
}

<h3>Pedidos</h3>

<p>
    <a asp-action="Create">Criar novo Pedido</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserDelivery.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDelivery.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress.Complement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDelivery.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDelivery.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispatchedOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestReceived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDelivery.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDelivery.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.Complement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDelivery.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDelivery.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmedOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispatchedOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestReceived)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="OrderProducts" asp-route-id="@item.Id">View Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>
