@model Application.Dtos.ProductsDto.Technology.Smartphones.SmartphoneDto

<style>

    th {
        word-break: break-word;
        font-size: 14px;
        font-weight: 600;
        border-spacing: 0;
        color: rgba(0,0,0,.9);
        text-align: left;
        height: 50px;
    }

    td {
        color: rgba(0,0,0,.9);
        font-size: 12px;
        word-break: break-word;
        font-family: Roboto,Arial,sans-serif;
        font-weight: 400;
        line-height: 18px;
        text-align: right;
    }

    .syle_text {
        font-size: 15px;
        color: black;
    }

    .style_text_content {
        font-weight: 600;
    }

    .style_img_thumbnail {
        background-color: rgba(211,211,211);
        border-radius: 50%;
        z-index: 1;
    }
</style>

<h5>Resources for @Model.Name</h5>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-1">
            <img class="style_img_thumbnail" src="~/images/img_smartphone/screen_size_v3.svg" width="40" />
        </div>
        <div class="col-md-4">
            <span class="syle_text">Screen size: <span class="style_text_content">@Model.SmartphoneDisplayObjectValue.DisplaySizeInche "</span></span>
            <p class="syle_text">(@Model.SmartphoneDimensionsObjectValue.HeightInche mm x @Model.SmartphoneDimensionsObjectValue.WidthInche mm x @Model.SmartphoneDimensionsObjectValue.ThicknessInche)</p>
        </div>
        <div class="col-md-1">
            <img class="style_img_thumbnail" src="~/images/img_smartphone/internal_memory.svg" width="40" />
        </div>
        <div class="col-md-4">
            <span class="syle_text">Internal Memory: <span class="style_text_content">@Model.SmartphoneMemoryObjectValue.StorageGB</span></span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-1">
            <img class="style_img_thumbnail" src="~/images/img_smartphone/resolution_rear_camera.svg" width="40" />
        </div>
        <div class="col-md-4">
            <span class="syle_text">Main rear camera: <span class="style_text_content">@Model.SmartphoneCameraObjectValue.MainCameraSpec</span></span>
        </div>
        <div class="col-md-1">
            <img class="style_img_thumbnail" src="~/images/img_smartphone/resolution_front_camera.svg" width="40" />
        </div>
        <div class="col-md-4">
            <span class="syle_text">Main front camera:: <span class="style_text_content">@Model.SmartphoneCameraObjectValue.SelfieCameraSpec</span></span>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-6">
        <h5 class="mb-3">General features</h5>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Brand</th>
                    <td>@Model.ProductSpecificationsObjectValue.ProductBrand</td>
                </tr>
                <tr>
                    <th>Line</th>
                    <td>@Model.ProductSpecificationsObjectValue.ProductLine</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>@Model.ProductSpecificationsObjectValue.ProductModel</td>
                </tr>
                <tr>
                    <th>Alphanumeric model</th>
                    <td>@Model.SmartphoneFeatureObjectValue.ManufacturerPartNumber</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>@Model.SmartphoneFeatureObjectValue.Color</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h5 class="mb-3">Operational system and Processor</h5>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name operational system</th>
                    <td>@Model.SmartphonePlatformObjectValue.OperatingSystem</td>
                </tr>
                <tr>
                    <th>Chipset</th>
                    <td>@Model.SmartphonePlatformObjectValue.Chipset</td>
                </tr>
                <tr>
                    <th>Cpu</th>
                    <td>@Model.SmartphonePlatformObjectValue.CPU</td>
                </tr>
                <tr>
                    <th>Gpu</th>
                    <td>@Model.SmartphonePlatformObjectValue.GPU</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="mb-3 mt-4">Screen</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Screen size</th>
                            <td>@Model.SmartphoneDisplayObjectValue.DisplaySizeInche"</td>
                        </tr>
                        <tr>
                            <th>Screen type</th>
                            <td>@Model.SmartphoneDisplayObjectValue.DisplayType</td>
                        </tr>
                        <tr>
                            <th>Screen resolution</th>
                            <td>@Model.SmartphoneDisplayObjectValue.DisplayResolution</td>
                        </tr>
                        <tr>
                            <th>Screen protection</th>
                            <td>@Model.SmartphoneDisplayObjectValue.DisplayProtection</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h5 class="mb-3 mt-3">Camera</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Main camera feature</th>
                            <td>@Model.SmartphoneCameraObjectValue.MainCameraFeature</td>
                        </tr>
                        <tr>
                            <th>Main camera spec</th>
                            <td>@Model.SmartphoneCameraObjectValue.MainCameraSpec</td>
                        </tr>
                        <tr>
                            <th>Selfie camera feature</th>
                            <td>@Model.SmartphoneCameraObjectValue.SelfieCameraFeature</td>
                        </tr>
                        <tr>
                            <th>Selfie camera spec</th>
                            <td>@Model.SmartphoneCameraObjectValue.SelfieCameraSpec</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="mb-3 mt-4">Memory</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Memory internal</th>
                            <td>@Model.SmartphoneMemoryObjectValue.StorageGB GB</td>
                        </tr>
                        <tr>
                            <th>Memory RAM</th>
                            <td>@Model.SmartphoneMemoryObjectValue.RAMGB GB</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <h5 class="mb-3 mt-2">Battery</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Battery capacity</th>
                            <td>@Model.SmartphoneBatteryObjectValue.BatteryCapacitymAh</td>
                        </tr>
                        <tr>
                            <th>Battery type</th>
                            <td>@Model.SmartphoneBatteryObjectValue.BatteryType</td>
                        </tr>
                        <tr>
                            <th>Battery is removable</th>
                            <td>@(Model.SmartphoneBatteryObjectValue.IsBatteryRemovable ? "Yes" : "Not")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>