@model IEnumerable<Application.Dtos.ProductDto>
<style>
    div.dataTables_wrapper div.dataTables_length {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #css-aavapi_wrapper .dataTables_info {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #css-aavapi_wrapper .dataTables_paginate {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #css-aavapi{
        line-height: 40px;
    }
</style>
@{
    ViewData["Title"] = "Products";
}
<div class="panel-body">
    <table class="table table-striped table-hover mt-4"  id="css-aavapi">
        <thead class="bg-dark">
            <tr class="text-white text-lg-center">
                <th>Id</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>History price</th>
                <th>Daily offer</th>
                <th>Favorite</th>
                <th>Best seller</th>
                <th>Brand</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-lg-center">
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                    <td>@(item.ProductPriceObjectValue.Price.ToString("C"))</td>
                    <td>@(item.ProductPriceObjectValue.HistoryPrice.ToString("C"))</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductFlagsObjectValue.IsDailyOffer)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductFlagsObjectValue.IsFavorite)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductFlagsObjectValue.IsBestSeller)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductSpecificationsObjectValue.ProductBrand)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#css-aavapi').DataTable({
                "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
                "pageLength": 10,
                "language": {
                    "info": "Showing  _START_ to _END_ of _TOTAL_ entries"
                },
                "columnDefs": [
                    { "orderable": false, "targets": [5, 6, 7] } 
                ]
            });
        });
    </script>
}