@* @model Application.Dtos.ProductDto

<style>
    .cardsHover:hover {
        max-width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: white;
    }
</style>
@{
    string productName = Model.Name;
    if (productName.Length > 25 && productName.Length > 28)
    {
        productName = productName.Substring(0, 25);
        productName = productName.Substring(0, productName.LastIndexOf(" ")) + "...";
    }
}

<div class="mt-2 card-custom mx-auto">
    <div class="card cardsHover h-100 text-center" style="border-radius:6px">
        <div class="card-body">
            <div>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">
                    <img class="card-img-top mx-auto" src="@Model.ProductImageValueObject.MainImage" style="width:100px; height:100px;object-fit:contain" alt="@Model.Name">
                </a>
                <hr />
            </div>
            @if (Model.ProductFlagsValueObject.IsDailyOffer == true)
            {
                <div style="text-align:left">
                    <span style="font-size:16px;font-weight:600">@Model.PriceValueObject.Price.ToString("C2")</span>
                    <span style="font-size:16px; color:green; font-weight:400;">
                        <span class="badge" style="background-color:red">
                            @(((Model.PriceValueObject.HistoryPrice - Model.PriceValueObject.Price) / Model.PriceValueObject.HistoryPrice * 100).ToString("F0"))%
                        </span>
                        <br />
                        12x @((Model.PriceValueObject.Price / 12).ToString("C2")) without interest<br>
                        Shipping <b>Free</b>
                    </span>
                    <h6 class="mt-2" style="font-size:14px">
                        @productName
                    </h6>
                </div>
            }
            else if (Model.ProductFlagsValueObject.IsBestSeller == true)
            {
                <div style="text-align:left">
                    <span style="font-size:16px;font-weight:600">@Model.PriceValueObject.Price.ToString("C2")</span><br>
                    <span style="font-size:16px; color:green; font-weight:400;">
                        6x @((Model.PriceValueObject.Price / 6).ToString("C2")) without interest<br>
                        Shipping <b>Free</b>
                    </span>
                    <br>
                    <h6 class="mt-2" style="font-size:14px">
                        @productName
                    </h6>
                </div>
            }
            <div>
                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id">
                    <span class="btn btn-success">Add to cart</span>
                </a>
            </div>
        </div>
    </div>
</div>

 *@