@model Application.Dtos.ProductsDto.Technology.Smartphones.SmartphoneDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SmartphoneDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SmartphoneFeatureObjectValue.CellNetworkTechnology" class="control-label"></label>
                <input asp-for="SmartphoneFeatureObjectValue.CellNetworkTechnology" class="form-control" />
                <span asp-validation-for="SmartphoneFeatureObjectValue.CellNetworkTechnology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneFeatureObjectValue.VirtualAssistant" class="control-label"></label>
                <input asp-for="SmartphoneFeatureObjectValue.VirtualAssistant" class="form-control" />
                <span asp-validation-for="SmartphoneFeatureObjectValue.VirtualAssistant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneFeatureObjectValue.ManufacturerPartNumber" class="control-label"></label>
                <input asp-for="SmartphoneFeatureObjectValue.ManufacturerPartNumber" class="form-control" />
                <span asp-validation-for="SmartphoneFeatureObjectValue.ManufacturerPartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneFeatureObjectValue.Color" class="control-label"></label>
                <input asp-for="SmartphoneFeatureObjectValue.Color" class="form-control" />
                <span asp-validation-for="SmartphoneFeatureObjectValue.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDisplayObjectValue.DisplayType" class="control-label"></label>
                <input asp-for="SmartphoneDisplayObjectValue.DisplayType" class="form-control" />
                <span asp-validation-for="SmartphoneDisplayObjectValue.DisplayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDisplayObjectValue.DisplaySizeInche" class="control-label"></label>
                <input asp-for="SmartphoneDisplayObjectValue.DisplaySizeInche" class="form-control" />
                <span asp-validation-for="SmartphoneDisplayObjectValue.DisplaySizeInche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDisplayObjectValue.DisplayResolution" class="control-label"></label>
                <input asp-for="SmartphoneDisplayObjectValue.DisplayResolution" class="form-control" />
                <span asp-validation-for="SmartphoneDisplayObjectValue.DisplayResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDisplayObjectValue.DisplayProtection" class="control-label"></label>
                <input asp-for="SmartphoneDisplayObjectValue.DisplayProtection" class="form-control" />
                <span asp-validation-for="SmartphoneDisplayObjectValue.DisplayProtection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneMemoryObjectValue.StorageGB" class="control-label"></label>
                <input asp-for="SmartphoneMemoryObjectValue.StorageGB" class="form-control" />
                <span asp-validation-for="SmartphoneMemoryObjectValue.StorageGB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneMemoryObjectValue.RAMGB" class="control-label"></label>
                <input asp-for="SmartphoneMemoryObjectValue.RAMGB" class="form-control" />
                <span asp-validation-for="SmartphoneMemoryObjectValue.RAMGB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneCameraObjectValue.MainCameraSpec" class="control-label"></label>
                <input asp-for="SmartphoneCameraObjectValue.MainCameraSpec" class="form-control" />
                <span asp-validation-for="SmartphoneCameraObjectValue.MainCameraSpec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneCameraObjectValue.MainCameraFeature" class="control-label"></label>
                <input asp-for="SmartphoneCameraObjectValue.MainCameraFeature" class="form-control" />
                <span asp-validation-for="SmartphoneCameraObjectValue.MainCameraFeature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneCameraObjectValue.SelfieCameraSpec" class="control-label"></label>
                <input asp-for="SmartphoneCameraObjectValue.SelfieCameraSpec" class="form-control" />
                <span asp-validation-for="SmartphoneCameraObjectValue.SelfieCameraSpec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneCameraObjectValue.SelfieCameraFeature" class="control-label"></label>
                <input asp-for="SmartphoneCameraObjectValue.SelfieCameraFeature" class="form-control" />
                <span asp-validation-for="SmartphoneCameraObjectValue.SelfieCameraFeature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphonePlatformObjectValue.OperatingSystem" class="control-label"></label>
                <input asp-for="SmartphonePlatformObjectValue.OperatingSystem" class="form-control" />
                <span asp-validation-for="SmartphonePlatformObjectValue.OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphonePlatformObjectValue.Chipset" class="control-label"></label>
                <input asp-for="SmartphonePlatformObjectValue.Chipset" class="form-control" />
                <span asp-validation-for="SmartphonePlatformObjectValue.Chipset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphonePlatformObjectValue.GPU" class="control-label"></label>
                <input asp-for="SmartphonePlatformObjectValue.GPU" class="form-control" />
                <span asp-validation-for="SmartphonePlatformObjectValue.GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphonePlatformObjectValue.CPU" class="control-label"></label>
                <input asp-for="SmartphonePlatformObjectValue.CPU" class="form-control" />
                <span asp-validation-for="SmartphonePlatformObjectValue.CPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneBatteryObjectValue.BatteryType" class="control-label"></label>
                <input asp-for="SmartphoneBatteryObjectValue.BatteryType" class="form-control" />
                <span asp-validation-for="SmartphoneBatteryObjectValue.BatteryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneBatteryObjectValue.BatteryCapacitymAh" class="control-label"></label>
                <input asp-for="SmartphoneBatteryObjectValue.BatteryCapacitymAh" class="form-control" />
                <span asp-validation-for="SmartphoneBatteryObjectValue.BatteryCapacitymAh" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SmartphoneBatteryObjectValue.IsBatteryRemovable" /> @Html.DisplayNameFor(model => model.SmartphoneBatteryObjectValue.IsBatteryRemovable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDimensionsObjectValue.HeightInche" class="control-label"></label>
                <input asp-for="SmartphoneDimensionsObjectValue.HeightInche" class="form-control" />
                <span asp-validation-for="SmartphoneDimensionsObjectValue.HeightInche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDimensionsObjectValue.WidthInche" class="control-label"></label>
                <input asp-for="SmartphoneDimensionsObjectValue.WidthInche" class="form-control" />
                <span asp-validation-for="SmartphoneDimensionsObjectValue.WidthInche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmartphoneDimensionsObjectValue.ThicknessInche" class="control-label"></label>
                <input asp-for="SmartphoneDimensionsObjectValue.ThicknessInche" class="form-control" />
                <span asp-validation-for="SmartphoneDimensionsObjectValue.ThicknessInche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="ProductImageObjectValue.MainImage" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.MainImage" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageFirst" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageFirst" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageSecond" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageSecond" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageSecond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageThird" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageThird" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageThird" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductModel" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductModel" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductBrand" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductBrand" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductType" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductType" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductLine" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductLine" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductWeight" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductWeight" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDataObjectValue.ReleaseMonth" class="control-label"></label>
                <input asp-for="ProductDataObjectValue.ReleaseMonth" class="form-control" />
                <span asp-validation-for="ProductDataObjectValue.ReleaseMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDataObjectValue.ReleaseYear" class="control-label"></label>
                <input asp-for="ProductDataObjectValue.ReleaseYear" class="form-control" />
                <span asp-validation-for="ProductDataObjectValue.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWarrantyObjectValue.WarrantyLength" class="control-label"></label>
                <input asp-for="ProductWarrantyObjectValue.WarrantyLength" class="form-control" />
                <span asp-validation-for="ProductWarrantyObjectValue.WarrantyLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWarrantyObjectValue.WarrantyInformation" class="control-label"></label>
                <input asp-for="ProductWarrantyObjectValue.WarrantyInformation" class="form-control" />
                <span asp-validation-for="ProductWarrantyObjectValue.WarrantyInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPriceObjectValue.Price" class="control-label"></label>
                <input asp-for="ProductPriceObjectValue.Price" class="form-control" />
                <span asp-validation-for="ProductPriceObjectValue.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPriceObjectValue.HistoryPrice" class="control-label"></label>
                <input asp-for="ProductPriceObjectValue.HistoryPrice" class="form-control" />
                <span asp-validation-for="ProductPriceObjectValue.HistoryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsDailyOffer" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsDailyOffer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsBestSeller" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsBestSeller)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsFavorite" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsFavorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
