@model Application.Dtos.ProductsDto.Technology.Games.GameDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SmartphoneDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Collection" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Collection" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Collection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Saga" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Saga" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Saga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.GameTitle" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.GameTitle" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.GameTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Edition" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Edition" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Platform" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Platform" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Developers" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Developers" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Developers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Publishers" class="control-label"></label>
                <input asp-for=" GameGeneralFeaturesObjectsValue.Publishers" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Publishers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.Genres" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.Genres" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameGeneralFeaturesObjectsValue.GameRating" class="control-label"></label>
                <input asp-for="GameGeneralFeaturesObjectsValue.GameRating" class="form-control" />
                <span asp-validation-for="GameGeneralFeaturesObjectsValue.GameRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.Format" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.Format" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.Format" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.AudioLanguages" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.AudioLanguages" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.AudioLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.SubtitleLanguages" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.SubtitleLanguages" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.SubtitleLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.ScreenLanguages" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.ScreenLanguages" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.ScreenLanguages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.MaximumNumberOfOfflinePlayers" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.MaximumNumberOfOfflinePlayers" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.MaximumNumberOfOfflinePlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.MaximumNumberOfOnlinePlayers" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.MaximumNumberOfOnlinePlayers" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.MaximumNumberOfOnlinePlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameSpecificationsObjectsValue.FileSize" class="control-label"></label>
                <input asp-for="GameSpecificationsObjectsValue.FileSize" class="form-control" />
                <span asp-validation-for="GameSpecificationsObjectsValue.FileSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameSpecificationsObjectsValue.ItsMultiplayer" /> @Html.DisplayNameFor(model => model.GameSpecificationsObjectsValue.ItsMultiplayer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameSpecificationsObjectsValue.ItsOnline" /> @Html.DisplayNameFor(model => model.GameSpecificationsObjectsValue.ItsOnline)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameSpecificationsObjectsValue.ItsOffline" /> @Html.DisplayNameFor(model => model.GameSpecificationsObjectsValue.ItsOffline)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameSpecificationsObjectsValue.RequiresPeripheral" /> @Html.DisplayNameFor(model => model.GameSpecificationsObjectsValue.RequiresPeripheral)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GameRequirementsObjectsValue.MinimumRAMRequirement" class="control-label"></label>
                <input asp-for="GameRequirementsObjectsValue.MinimumRAMRequirement" class="form-control" />
                <span asp-validation-for="GameRequirementsObjectsValue.MinimumRAMRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameRequirementsObjectsValue.MinimumOperatingSystemsRequired" class="control-label"></label>
                <input asp-for="GameRequirementsObjectsValue.MinimumOperatingSystemsRequired" class="form-control" />
                <span asp-validation-for="GameRequirementsObjectsValue.MinimumOperatingSystemsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameRequirementsObjectsValue.MinimumGraphicsProcessorsRequired" class="control-label"></label>
                <input asp-for="GameRequirementsObjectsValue.MinimumGraphicsProcessorsRequired" class="form-control" />
                <span asp-validation-for="GameRequirementsObjectsValue.MinimumGraphicsProcessorsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameRequirementsObjectsValue.MinimumProcessorsRequired" class="control-label"></label>
                <input asp-for="GameRequirementsObjectsValue.MinimumProcessorsRequired" class="form-control" />
                <span asp-validation-for="GameRequirementsObjectsValue.MinimumProcessorsRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.MainImage" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.MainImage" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageFirst" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageFirst" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageSecond" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageSecond" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageSecond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImageObjectValue.ImageThird" class="control-label"></label>
                <input asp-for="ProductImageObjectValue.ImageThird" class="form-control" />
                <span asp-validation-for="ProductImageObjectValue.ImageThird" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductModel" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductModel" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductBrand" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductBrand" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductModel" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductModel" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductLine" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductLine" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSpecificationsObjectValue.ProductWeight" class="control-label"></label>
                <input asp-for="ProductSpecificationsObjectValue.ProductWeight" class="form-control" />
                <span asp-validation-for="ProductSpecificationsObjectValue.ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDataObjectValue.ReleaseMonth" class="control-label"></label>
                <input asp-for="ProductDataObjectValue.ReleaseMonth" class="form-control" />
                <span asp-validation-for="ProductDataObjectValue.ReleaseMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDataObjectValue.ReleaseYear" class="control-label"></label>
                <input asp-for="ProductDataObjectValue.ReleaseYear" class="form-control" />
                <span asp-validation-for="ProductDataObjectValue.ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWarrantyObjectValue.WarrantyLength" class="control-label"></label>
                <input asp-for="ProductWarrantyObjectValue.WarrantyLength" class="form-control" />
                <span asp-validation-for="ProductWarrantyObjectValue.WarrantyLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWarrantyObjectValue.WarrantyInformation" class="control-label"></label>
                <input asp-for="ProductWarrantyObjectValue.WarrantyInformation" class="form-control" />
                <span asp-validation-for="ProductWarrantyObjectValue.WarrantyInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPriceObjectValue.Price" class="control-label"></label>
                <input asp-for="ProductPriceObjectValue.Price" class="form-control" />
                <span asp-validation-for="ProductPriceObjectValue.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPriceObjectValue.HistoryPrice" class="control-label"></label>
                <input asp-for="ProductPriceObjectValue.HistoryPrice" class="form-control" />
                <span asp-validation-for="ProductPriceObjectValue.HistoryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsDailyOffer" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsDailyOffer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsBestSeller" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsBestSeller)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductFlagsObjectValue.IsFavorite" /> @Html.DisplayNameFor(model => model.ProductFlagsObjectValue.IsFavorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
